body {
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}

.banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    padding: 50px 0;
    vertical-align: baseline;
}

.banner h2 {
    color: #ffea00;
    background: #424146;
    padding: 10px 60px 10px 20px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
}

.clear {
    clear: both;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

/* blog main */
.main {
    margin: 0 30px;
}

.project-wrapper {
    padding: 50px 0 30px;
}

.project {
    width: 71.9%;
    float: left;
    margin-right: 2.6%;
}

.project-sidebar {
    width: 25.5%;
    float: left;

}

.blog-left {
    width: 48.5%;
    float: left;
    margin-right: 2.6%;
}

.blog-left h4 {
    font-size: 1.4em;
    color: #000;
    font-style: italic;
    padding: 10px 30px 0;
}

.blog-bg {
    border-radius: 5px;
    backdrop-filter: blur(3.8px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.055), 0 10px 15px rgba(0, 0, 0, 0.041);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65));
    width: 100%;
    min-height: 70px;
    margin-bottom: 20px;
}

span.author {
    float: right;
    font-size: 0.95em;
    padding: 0 10px 5px;
}

.blog-img {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #424146;
}

.blog-img img {
    width: 100%;
    display: block;
}

.blog-desc {
    background-color: #fff8f8;
    padding: 30px;
}

.blog-desc h5 {
    color: #000;
    text-transform: uppercase;
}

.blog-desc p {
    color: #777;
    padding-top: 10px;
}

.icon img {
    width: 16px;
    display: inline;
}

.comment .comment-desc {
    display: inline;
    float: right;
}

.blog-right {
    width: 48.5%;
    float: right;
}

.blog-bg ul {
    list-style: none;
    padding-left: 0;
    width: 50%;
    float: left;
}

.blog-bg ul i {
    margin-right: 10px;
    float: left;
}

.blog-bg .card .card-body {
    padding: 8px;
}

.blog-bg .card .card-body .likes {
    float: right;
    display: block;
}

.blog-bg .card .card-body .likes a {
    margin-right: 5px;
}

.blog-bg .card .card-body .likes img {
    margin-right: 5px;
}

.blog-bg .tag {
    float: left;
    background-color: #fffcd1;
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

.blog-bg .taging {
    width: 100%;
}